<mat-tab-group>
    <section>
        <mat-tab label="search">
            <app-assignment-3-movie-search></app-assignment-3-movie-search>
        </mat-tab>
        <mat-tab label="my movies">
            <app-assignment-3-movies-bucket></app-assignment-3-movies-bucket>
        </mat-tab>
    </section>
</mat-tab-group>


<app-common-shared-description-block>
    <h2>2. Using observables to manage state</h2>

    <p>
        Lets Do this. But its not done yet!?
    </p>
</app-common-shared-description-block>
