<h1 class="mat-display-1">MovieManager</h1>

<mat-tab-group>
    <mat-tab label="assignment-1">
        <app-assignment-1-movie-search></app-assignment-1-movie-search>
    </mat-tab>
    <mat-tab label="assignment-2">
        <app-assignment-2-movies></app-assignment-2-movies>
    </mat-tab>
    <mat-tab label="assignment-3">
        <app-assignment-3-movies></app-assignment-3-movies>
    </mat-tab>
    <mat-tab label="assignment-4">
        <app-assignment-4-movies></app-assignment-4-movies>
    </mat-tab>
</mat-tab-group>
